<?xml version="1.0" encoding="iso-8859-1"?>
<menu>
  <menu-groupe>
    <menu-item id="nouvelles" nom="nouvelles" href="nouvelles.html"/>
    <menu-item id="encours" nom="encours" href="encours.html"/>
  </menu-groupe>
  <menu-groupe>
    <menu-item id="greffons" nom="greffons" href="greffons.html"/>
    <menu-item id="telechargement" nom="paquet" href="telechargement.html"/>
  </menu-groupe>
  <menu-groupe>
    <menu-item id="documentation" nom="doc" href="documentation.html"/>
    <menu-item id="captures" nom="captures" href="captures.html"/>
  </menu-groupe>
  <menu-groupe>
    <menu-item id="devel" nom="cvs" href="http://savannah.gnu.org/cgi-bin/viewcvs/toutdoux/"/>
    <menu-item id="bugzilla" nom="bugzilla" href="http://bugzilla.gnome.org/buglist.cgi?product=ToutDoux"/>
  </menu-groupe>
  <menu-groupe>
    <menu-item id="idees" nom="id&#233;es" href="http://savannah.gnu.org/support/?group_id=427"/>
    <menu-item id="taches" nom="t&#226;ches" href="http://savannah.gnu.org/pm/?group_id=427"/>
  </menu-groupe>
  <menu-groupe>
    <menu-item id="autres" nom="autres" href="autres.html"/>
    <menu-item id="vide" nom="." href="nouvelles.html"/>
  </menu-groupe>
</menu>
